*{
    margin:0px;
    padding: 0px;
    font-family:"poppins", "sans-serif";
    text-decoration: none;

}

header{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #0f0c27;
    color:white;
    border-bottom: solid 0.2px grey;
    padding-left: 0%;
    padding: 13px 10px;
    
}

.navbar{
    display: flex;
    margin-left: 5px ;
    justify-content: space-between;
    width: 30%;
    color:white;
    list-style: none;
    padding-top: 10px;
    font-size: small;
    padding-right: 1.5%;
}
.navbar li:hover{
    background-color:orange;
}


header a{
    color:white;
    text-decoration:none;
    font-style: 1.5rem;
}
ul a {
    font-size: 1rem;
}

.logo{
    font-size: 1.8rem;
    margin-left: 25px;
    font-weight: 600;
}


/* ul a {
    font-size: 1rem;
} */

.home{
    background-color:#0f0c27;
    display: flex;
    justify-content:space-between;
}
section {
    padding: 50px 10%;
}
span{
    color: wheat;
}
h1{
    color:orange;
    font-size: 3rem;
    font-style: bold;
}
.home-text{
    color:white;
    font-size:1.5rem;
    padding-top: 10%;
}
.contactme{
    position:absolute;
    color:white;
    text-decoration:none;
    background-color: #033a80;
    padding: 12px 15px;
    border-radius: 10px;
    margin-top: 20px;
    font-size:larger;
}
.contactme:hover{
    background-color: black;
    
}
.imges img{
    padding-top: 40px;
    height: 400px;
    width: 300px;
    border-radius: 20px 20px;
}


.aboutme {

    text-align: center;
    background-color: #0f0c27;
    color:white;
       
}
.aboutmesection{
   
    display: flex;
    margin-top: 50px;
    text-align: left;
}
.imad {
    border-radius:20px;
    width: 500px;

}
.aboutmetext {
    width:50%;
    margin-left: 20%;
    font-size: 1.5rem;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
}
.download{
    border-radius: 10px;
    background-color: blue;
    padding: 10px;
    color:white;
}
.skhead{
    padding-top: 30px;
    font-size: 2.5rem;
}
.sk{
    
    text-align: center;
    background-color: #0f0c27;
    color:white;
    padding: 1rem;
}

.barsbox{
    position:relative;
    justify-content: space-between;
    display:flex;
    align-items: center;
    padding:20px;
    margin-bottom:  1rem;
    /*width: 100%;-->*/
}
.skillssection{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}
.lightbar{
    width: 100%;
    background: hsla(260, 100%, 44%,0.4);
    height: 0.5rem;
    position: absolute;
    top: 10;
    bottom: 0;
}
.skillpic{
    width:400px;
    height:300px;
    border-radius: 20px;
    padding-right: 50px;
}
.skillbar{
    width:40%;
}
.percenth{
    position: absolute;
    top:10;
    bottom: 0;
    background-color: #033a80;
    height: 0.5rem;
    border-radius:0.5rem ;
    width:70%;
}
.percentc{
    position: absolute;
    top:10;
    bottom: 0;
    background-color: #033a80;
    height: 0.5rem;
    border-radius:30px ;
    width: 50%;
}
.percentp{
    position: absolute;
    top:10;
    bottom: 0;
    background-color:  #033a80;
    height: 0.5rem;
    border-radius:30px ;
    width: 50%;
}
.percents{
    position: absolute;
    top:10;
    bottom: 0;
    background-color:  #033a80;
    height: 0.5rem;
    border-radius:30px ;
    width: 50%;
}
.projects{
       background-color: #0f0c27;
       text-align: center;
       color:white;
}
ol{
    text-align: left;
    padding-top: 10%;
    justify-content: space-between;
    font-size: 2rem;
}


.contactform{
    background-color: #0f0c27;
    text-align: center;
    margin-bottom: 20px;
}
.form{
    display:flex;
    flex-direction: column;
    width:50%;
    margin: 0 auto;
    padding-top: 5%;
}
.form input, textarea{
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #150b3a; 
    text-decoration: none;
    border:0;
    color:white;
}
.form input{
    padding:10px;
}
.submit{
    margin-top: 30px;
    width:20%;
    background-color: #033a80;
    color:white;
    padding:10px 15px;
    margin:0px auto;
    cursor:pointer;
}


